/*Базовые теги*/

html { 
    box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

body {
    margin: 0 auto;
    padding: 0;
    
    width: 1200px;
    
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
    
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Главное меню*/

.main-header {
    margin: 0;
    padding: 0;
    
    color: #000000;
    
    background-color: #ffffff;
}

.main-navigation {
    position: relative;
    
    margin: 0;
    padding: 0;
}

.sedona-main-logo {
    position: absolute;
    top: 0;
    left: 50%;
    
    width: 138px;
    height: 70px;
    margin-left: -68px;
}

.list-navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    list-style: none;
}

.list-navigation li {
    width: 20%;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    
    vertical-align: middle;
}

.list-navigation li:nth-of-type(2) {
    margin-right: auto;
}

.list-navigation li:first-of-type,
.list-navigation li:nth-of-type(2) {
    padding-left: 6%;
    
    text-align: left;
}

.list-navigation li:last-of-type,
.list-navigation li:nth-of-type(3) {
    padding-right: 6%;
    
    text-align: right;
}

/*Интерактивные элементы хедера*/

.list-navigation a {
    font-weight: bold;
    color: #000000;
}

.list-navigation a:hover,
.list-navigation a:focus {
    color: #81b3d2;
}

.list-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.list-navigation a:visited {
    color: #000000;
}

.active-main a {
    color: #766357;
}

/*Интро главной страницы*/
/*Интро-картинки*/

.introduction {
    background-color: #ffffff;
}

.introduction .background-container {
    width: 100%;
    margin: 0;
    padding: 0;
    
    background-color: #858c92;
    background-image: 
        url("../img/shadow.png"),  
        url("../img/background-photo.jpg");
    background-size: 
        100% 57px,
        100%;
    background-position: 
        bottom center,
        0 -54px;
    background-repeat: no-repeat;
}

.introduction .promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
    min-height: 510px;
    padding-top: 78px;
    padding-bottom: 80px;
}

.intro-wrapper {
    margin: 0;
    padding: 0;
}

.intro-wrapper:first-of-type {
    height: 86px;
}

.intro-wrapper:nth-of-type(2) {
    height: 78px;
}

.intro-wrapper:last-of-type {
    height: 80px;
}

/*Интро-текст*/ 

.intro-text-container {
    width: 100%;
}

.intro-text-container p {
    margin: 0;
    padding: 0;
}

.intro-text-container .paragraph {
    width: 490px;
    margin: 0 auto;
    padding: 0;
    padding-top: 60px;
    padding-bottom: 50px;
    
    text-align: center;
}

.intro-text-container .slogan {
    margin-bottom: 28px;
    
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

/*Преимущества главной страницы*/

.features {
    line-height: 21px;
    
    background-color: #eeeeee;
}

.features-list {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features-list li {
    min-height: 256px;
}

.features-list h3 {
    margin: 0;
    padding: 0;

    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.usual-features-list {
    display: flex;
    flex-direction: row;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.feature-item {
    margin: 0;
    padding: 0;
    
    width: 33.33%;
    
    text-align: center;
}

.special {
    position: relative;
    overflow: hidden;
    
    width: 100%;
    
    color: #ffffff;
    
    background-color: #81b3d2;
}

.special h3 {
    color: #ffffff;
}

.special-1 {
    padding-right: 66.66%;
}

.special-2 {
    padding-left: 66.66%;
}

.special img {
    position: absolute;
    
    width: 66.66%;
}

.special-1 img {
    top: -81px;
    right: 0;
}

.special-2 img {
    top: -74px;
    left: 0;
}

.feature-container {
    width: 285px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 55px;
    
    text-align: center;
    vertical-align: middle;
}

.special-2 .feature-container {
    width: 305px;
}

.usual-item:nth-of-type(2) .feature-container {
    width: 280px;
}

.feature-title {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 24px;
}

.feature-number {
    position: relative;
    
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
}

.feature-number::before,
.feature-number::after {
    content: "";
    
    position: absolute;
    top: 50%;
    
    width: 9px;
    height: 2px;
    margin-top: -1px;
    
    background-color: #a8a8a8;
}

.special .feature-number::before,
.special .feature-number::after {
    background-color: rgba(255, 255, 255, 0.7);
}

.feature-number::before {
    left: 50%;
    
    margin-left: -25px;
}

.feature-number::after {
    right: 50%;
    
    margin-right: -25px;
}

.feature-description {
    margin: 0;
    padding: 0;
}

.towns-advantages {
    color: #000000;
    
    background-color: #ffffff;
}

.towns-advantages h3 {
    color: #000000;
}

.towns-advantages-list {
    display: flex;
    flex-direction: row;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.towns-advantages-list li {
    min-height: 330px;
}

.towns-advantages-list .feature-container {
    position: relative;
    
    margin-top: 60px;
    margin-bottom: 82px;
    padding-top: 102px;
}

.towns-advantages-list .feature-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    
    width: 75px;
    height: 72px;
    margin-left: -37px;
        
    background-size: 75px 72px;
}

.feature-container-1::before {
    background-image: url(../img/icon-1.svg);
}

.feature-container-2::before {
    background-image: url(../img/icon-2.svg);
}

.feature-container-3::before {
    background-image: url(../img/icon-3.svg);
}

.advantage-item {
    width: 33.33%;
    margin: 0;
    padding: 0;
}

/*Подбор отеля и форма*/

.choicenmodal-wrapper {
    position: relative;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.choice {
    width: 100%;
    margin: 0;
    padding: 0;
    
    background-color: #ffffff;
}

.choice-container {
    text-align: center;
}

.choice-text-container {
    width: 100%;
}

.choice-text-container p {
    margin: 0;
    padding: 0;
}

.choice .paragraph {
    width: 450px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 46px;
}

.choice .interest {
    margin-bottom: 24px;
        
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
}

/*Интерактивные элементы*/

.choice button[type="button"] {
    width: 568px;
    height: 86px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #766357;
    border: none;
    outline: none;
}

.choice button[type="button"]:hover,
.choice button[type="button"]:focus {
    background-color: #604e43;
}

.choice button[type="button"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

/*Форма подбора отеля*/

.search {
    position: absolute;
    top: 294px;
    left: 50%;
    z-index: 1;
    
    width: 568px;
    margin-left: -284px;
    padding: 56px;
    
    background-color: #ffffff;
}

.modal-search {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    font-weight: bold;
    color: #000000;
}

.modal-search p {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    margin-bottom: 30px;
}

.modal-search label {
    margin: auto 0;
}

.modal-search input[type="date"],
.modal-search input[type="number"] {
    box-sizing: inherit;
    
    margin: 0;
    
    font: inherit;
    
    background-color: #f2f2f2;
    border: 2px solid transparent;
    outline: none;
}

.modal-search input[type="date"]:hover,
.modal-search input[type="number"]:hover {
    background-color: #ebebeb;
}

.modal-search input[type="date"]:focus,
.modal-search input[type="number"]:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.modal-search input[type="date"] {
    width: 345px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 39px;
}

.modal-search input[type="number"] {
    padding: 6px 5px;
    
    width: 38px;
    height: 38px;
}

.modal-search button[type="button"] {
    margin: 0;
    padding: 0;
    
    font: inherit;
    color: #a9a9a9;
    
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.search button[type="button"]:hover,
.search button[type="button"]:focus {
    color: #000000;
}

.search button[type="button"]:active {
    color: #81b3d2;
}

.search button[type="submit"] {
    width: 100%;
    padding: 16px 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #81b3d2;
    border: none;
    outline: none;
}

.search button[type="submit"]:hover,
.search button[type="submit"]:focus {
    background-color: #669ec0;
}

.search button[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.calendar:hover path,
.calendar:focus {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}

/*Футер и карта*/

.mapnfooter-wrapper {
    position: relative;
    overflow: hidden;
    
    max-width: 1200px;
    min-height: 595px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #e0e7ce;
}

.map-container {
    margin-top: -120px;
    margin-left: -210px;
}

.main-footer {
    max-width: 1200px;
    margin: 0 auto;
    
    background-color: rgba(255, 255, 255, 0.9);
}

.mapnfooter-wrapper .main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    margin: 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
}

.footer-item-wrapper {
    flex-basis: 33%;
    
    margin: 0;
    padding: 0;
}

.footer-tag-container {
    width: 136px;
    margin: 0 auto;
    padding: 48px 0;
    
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.footer-tag-container .tag {
    margin: 0;
    padding: 0;
}

.footer-copyright-container {
    position: relative;
    
    width: 200px;
    margin: 0 auto;
    padding: 37px 0;
    
    vertical-align: middle;
}

.footer-copyright-container span {
    position: absolute;
    top: 50%;
    right: 0;
    
    margin-top: -21px;
}

.footer-copyright-container .footer-copyright {
    margin: 0;
    padding: 15px 0;
    
    vertical-align: middle;
}

.footer-social-container {
    width: 150px;
    margin: 0 auto;
    padding: 37px 0;
}

.social-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    width: 150px;
    padding: 0;
    margin: 0;
    
    list-style: none;
}

.social-list li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 46px;
    height: 48px;
}

/*Интерактивные элементы*/

.social-list a { 
    width: 46px;
    height: 48px;
    margin: 0;
    padding: 0;
    
    background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
    background-color: #669ec0;
}

.social-list a:active {
    background-color: #5496bd;
}

.social-list a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    
    width: 22px;
    height: 22px;
    margin-left: -11px;
    margin-top: -11px;
    
    background-size: 22px 22px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.social-list .social-tw::before {
    background-image: url(../img/t-icon.svg);
}

.social-list .social-fb::before {
    background-image: url(../img/fb-icon.svg);
}

.social-list .social-yt::before {
    background-image: url(../img/youtube-icon.svg);
}

.social-list a:hover::before,
.social-list a:focus::before {
    opacity: 1;
}

.social-list a:active::before {
    opacity: 0.3;
}

.htmlacademy-link:hover path, 
.htmlacademy-link:focus path {
    fill: #81b3d2;
} 

.htmlacademy-link:active path {
    fill: #bdbbbc;
} 

/*Фильтр страниц отелей*/

.filter {
    width: 100%;
}

.modal-filter {
    width: 100%;
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    
    background-color: #657380;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.modal-filter .filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    margin: 0;
    padding: 0;
}

.modal-filter .fieldset-wrapper {
    width: 20%;
    margin: 0;
    padding: 32px 6%;
}

.fieldset-wrapper:nth-of-type(2) {
    margin-right: auto;
}

.fieldset-wrapper p {
    margin: 0;
    margin-bottom: 22px;
    padding: 0;
}

.modal-filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.modal-filter legend {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    
    font-size: 16px;
    font-weight: bold;
}

.filter-checkbox {
    position: relative;

    margin: 0;
    padding: 0;
    padding-left: 40px;

    cursor: pointer;
}

.filter-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: 0;

    width: 27px;
    height: 23px;
    
    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: left;
}

.filter-checkbox input[type="checkbox"]:hover + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:focus + .checkbox-indicator {
    background-image: url(../img/checkbox-off-focus.svg);
}

.filter-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/checkbox-on.svg);
}

.filter-checkbox input[type="checkbox"]:focus:checked + .checkbox-indicator,
.filter-checkbox input[type="checkbox"]:hover:checked + .checkbox-indicator {
    background-image: url(../img/checkbox-on-focus.svg);
}

.filter-checkbox input[type="checkbox"]:disabled + .checkbox-indicator,
.filter-checkbox input[type="checkbox"].disabled + .checkbox-indicator {
    opacity: 0.3;
}

/*Сложный фильтр*/

.filter-range {
    width: 400px;
    padding: 32px 0;
    
}

.filter-range-title {
    margin-bottom: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;

    height: 36px;
    margin-bottom: 20px;

    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 21px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.modal-filter button[type="submit"] {
    width: 133px;
    height: 32px;
    
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
}

.modal-filter button[type="submit"]:hover,
.modal-filter button[type="submit"]:focus {
    color: #000000;
    
    background-color: #ffffff;
}

.modal-filter button[type="submit"]:active {
    color: rgba(0, 0, 0, 0.9);
    
    background-color: rgba(255, 255, 255, 0.3);
}


/*Сортировка*/
/*Добавить смену цвета свг иконок*/

.results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.results .sorting {
    min-height: 86px;
    margin: 0;
    padding: 30px 0;
    
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    
    background-color: #ffffff;
}

.sorting .align-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sorting .found {
    margin: 0;
    padding: 0;
    
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.sorting .sorting-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    min-width: 900px;
    
    list-style: none;
}

.sorting-settings .text-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    padding: 0 10px;
    min-width: 375px;
    
    list-style: none;
}

.sorting-settings .arrow-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    min-width: 35px;
    
    list-style: none;
}

.arrow:hover path,
.arrow:focus path {
    fill: #231f20;
}

.arrow:active path {
    fill: #81b3d2;
}

.active-sort path {
    fill: #81b3d2;
}

.sorting-settings a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.sorting-settings a:hover,
.sorting-settings a:focus {
    color: #81b3d2;
}

.sorting-settings a:active {
    color: #000000;
    text-decoration: none;
}

.active-sort a {
    color: #81b3d2;
    text-decoration: none;
}

/*Список отелей*/

.results .results-list {
    flex-basis: 455px;
    
    line-height: 21px;
    
    background-color: #ffffff;
}

.hotels-list {
    display: flex;
    flex-direction: column;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.hotels-list .hotel-position {
    flex-basis: 152px;
    border-bottom: 1px solid #e5e5e5;
}

.hotels-list .hotel-position:first-child {
    border-top: 1px solid #e5e5e5;
}

.hotel-position .align-container {
    display: flex;
    flex-direction: row;
}

.hotel-position .hotel-preview {
    margin-right: 30px;
    padding-top: 31px;
    padding-bottom: 31px;
}

.hotel-position img {
    width: 135px;
    height: 90px;
}

.hotel-position .hotel-main-info {
    margin: 0;
    padding-top: 25px;
}

.hotel-position .hotel-main-mark {
    margin-left: auto;
    padding-top: 30px;
}

.hotel-position p {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
}

.hotel-rank {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    width: 115px;
    margin-bottom: 48px;
    
    list-style: none;
}

.hotel-rank li {
    width: 18px;
    height: 17px;
    margin: 0;
    margin-left: 6px;
    padding: 0;
    
}

.hotel-rank span {
    position: relative;
    
    margin: 0;
    padding: 0;
}

.hotel-rank .star-blue::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 18px;
    height: 17px;
    
    background-image: url(../img/star.svg);
    background-size: 18px 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.hotel-rank .star-none::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 18px;
    height: 17px;
}

.hotel-rating {
    display: inline-block;
    margin: 0;
    padding: 3px 16px;
    
    background-color: #f2f2f2;
} 

.hotel-rating p {
    margin: 0;
    padding: 0;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-list .button {
    display: inline-block;
    padding: 3px 16px;
    margin-top: 10px;
    margin-right: 2px;
    
    font-weight: bold;
    color: #ffffff;
}

.hotels-list .info {
    background-color: #81b3d2;
}

.hotels-list .info:hover,
.hotels-list .info:focus {
    background-color: #669ec0;
}

.hotels-list .info:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.hotels-list .reserve {
    background-color: #766357;
}

.hotels-list .reserve:hover,
.hotels-list .reserve:focus {
    background-color: #604e43;
}

.hotels-list .reserve:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}