/*размер шрифта,
высоту строки,
цвет шрифта,
жирность шрифта,
гарнитура (название шрифта),
другие текстовые параметры, если требуется по макету.*/

/*Базовые теги*/

html { 
    box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
    box-sizing: inherit; 
}

body {
    margin: 0 auto;
    padding: 0;
    
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    
    background-color: #ffffff;
}

a {
    text-decoration: none;
    
    outline: none;
}

/*Главное меню*/

.main-navigation {
    margin: 0;
    padding: 0;
    
    color: #000000;
}

.list-navigation {
    margin: 0;
    padding: 0;

    background-color: #ffffff;
    list-style: none;
}

/*Интерактивные элементы*/

.list-navigation a {
    font-weight: bold;
    color: #000000;
}

.list-navigation a:hover,
.list-navigation a:focus {
    color: #81b3d2;
}

.list-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.list-navigation a:visited {
    color: #000000;
}

.active-main a {
    color: #766357;
}

/*Интро главной страницы*/
/*Подправить картинку-тень*/

.introduction .background-container {
    margin: 0;
    padding: 0;
    
    width: 100%;
    
    background-color: #858c92;
    background-image: 
        url("../img/shadow.png"),  
        url("../img/background-photo.jpg");
    background-size: 
        100% 57px,
        100%;
    background-position: 
        bottom center,
        0 -60px;
    background-repeat: no-repeat;
}

.text-container {
    margin: 0;
    padding: 0;
    
    width: 100%;
}

.intro-text-container .paragraph {
    text-align: center;
}

.intro-text-container .slogan {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

/*Преимущества главной страницы*/

.features {
    line-height: 21px;
    
    background-color: #eeeeee;
}

.features-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.features-list h3 {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.feature-item {
    margin: 0;
    
    width: 33.33%;
    
    text-align: center;
}

.special {
    width: 100%;
    
    color: #ffffff;
    
    background-color: #81b3d2;
}

.special h3 {
    color: #ffffff;
}

.towns-advantages {
    color: #000000;
    
    background-color: #ffffff;
}

.towns-advantages h3 {
    color: #000000;
}

.towns-advantages-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.advantage-item {
    margin: 0;
    padding: 0;
    
    width: 33.33%;
}

.towns-advantages .feature-container::before {
    content: "";
    display: block;
    margin: auto;
    
    width: 75px;
    height: 72px;
        
    background-size: 75px 72px;
}

.feature-container-1::before {
    background-image: url(../img/icon-1.svg);
}

.feature-container-2::before {
    background-image: url(../img/icon-2.svg);
}

.feature-container-3::before {
    background-image: url(../img/icon-3.svg);
}

/*Подбор отеля и карта*/

.choice {
    background-color: #ffffff;
}

.interest {
    font-size: 30px;
    line-height: 35px;
    font-weight: bold;
    color: #000000;
}

/*Интерактивные элементы*/

.choice button[type="button"] {
    width: 568px;
    height: 86px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    
    background-color: #766357;
    border: none;
    outline: none;
}

.choice button[type="button"]:hover,
.choice button[type="button"]:focus {
    background-color: #604e43;
}

.choice button[type="button"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

/*Футер*/

.main-footer {
    background-color: rgba(255, 255, 255, 0.9)
}

.footer-tag-container {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}

.social-list {
    padding: 0;
    margin: 0;
    
    list-style: none;
}

/*Интерактивные элементы*/
/*Сделать смену цвета свг картинок*/
/*Картинки внутри ссылок появятся на следующем этапе*/

.social-list a {
    background-color: #81b3d2;
}

.social-list a:hover,
.social-list a:focus {
    background-color: #669ec0;
}

.social-list a:active {
    background-color: #5496bd;
}

.social-list a::before {
    content: "";
    display: block;
    
    width: 46px;
    height: 48px;
    
    background-size: 27px 27px;
    background-position: center;
    background-repeat: no-repeat;
}

.social-list .social-tw::before {
    background-image: url(../img/t-icon.svg);
}

.social-list .social-fb::before {
    background-image: url(../img/fb-icon.svg);
}

.social-list .social-yt::before {
    background-image: url(../img/youtube-icon.svg);
}

/*Форма подбора отеля*/
.search {
    font-weight: bold;
    color: #000000;
    
    background-color: #ffffff;
}

.search input {
    margin: 0;
    padding: 10px;
    
    font: inherit;
    
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.search input[type="date"] {
    width: 308px;
    height: 38px;
}

.search input[type="number"] {
    padding: 5px;
    
    width: 38px;
    height: 38px;
}

.search input:hover {
    background-color: #ebebeb;
}

.search input:focus {
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
}

.search button[type="button"] {
    margin: 0;
    padding: 5px;
    
    width: 38px;
    height: 38px;
    
    font: inherit;
    color: #a9a9a9;
    
    background-color: #f2f2f2;
    border: none;
    outline: none;
}

.search .calendar {
    background-image: url(../img/calendar.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.search button[type="button"]:hover,
.search button[type="button"]:focus {
    color: #000000;
}

.search button[type="button"]:active {
    color: #81b3d2;
}

.search button[type="submit"] {
    width: 458px;
    height: 58px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: #81b3d2;
    border: none;
    outline: none;
}

.search button[type="submit"]:hover,
.search button[type="submit"]:focus {
    background-color: #669ec0;
}

.search button[type="submit"]:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

/*Фильтр страниц отелей*/
/*Заменить у чекбоксов outline*/
/*Стилей у input при взаимодействии нет, добавить свои...
+ добавить рамку */

.filter {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    
    background-color: #657380;
    background-image: url(../img/filter-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.filter legend {
    font-size: 16px;
    font-weight: bold;
}

.filter input[type="text"] {
    font: inherit;
    color: #ffffff;
    
    background-color: transparent;
    border: none;
}

.filter button[type="submit"] {
    width: 133px;
    height: 32px;
    
    font: inherit;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    text-transform: uppercase;
    
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
}

.filter button[type="submit"]:hover,
.filter button[type="submit"]:focus {
    color: #000000;
    
    background-color: #ffffff;
}

.filter button[type="submit"]:active {
    color: #000000;
    
    background-color: #ffffff;
}

/*Сортировка*/
/*Добавить смену цвета свг иконок*/

.sorting {
    font: inherit;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    
    background-color: #ffffff;
}

.sorting .found {
    font: inherit;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.sorting-settings {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorting-settings a {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline dotted #81b3d2;
}

.sorting-settings a:hover,
.sorting-settings a:focus {
    color: #81b3d2;
}

.sorting-settings a:active {
    color: #000000;
    text-decoration: none;
}

.active-sort a {
    color: #81b3d2;
}

/*Список отелей*/

.results-list {
    line-height: 21px;
    
    background-color: #ffffff;
}

.hotels-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.hotel-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
    color: #81b3d2;
}

.hotel-name:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotels-list .info {
    font-weight: bold;
    color: #ffffff;
    
    background-color: #81b3d2;
}

.hotels-list .info:hover,
.hotels-list .info:focus {
    background-color: #669ec0;
}

.hotels-list .info:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #5496bd;
}

.hotels-list .reserve {
    font-weight: bold;
    color: #ffffff;
    
    background-color: #766357;
}

.hotels-list .reserve:hover,
.hotels-list .reserve:focus {
    background-color: #604e43;
}

.hotels-list .reserve:active {
    color: rgba(255, 255, 255, 0.3);
    
    background-color: #503e33;
}

.hotel-rating {
    background-color: #f2f2f2;
}

.hotel-rank {
    list-style: none;
}

.hotel-rank .star-blue::before {
    content: "";
    display: block;
    
    width: 18px;
    height: 17px;
    
    background-image: url(../img/star.svg);
    background-size: 18px 17px;
    background-position: center;
    background-repeat: no-repeat;
}

.hotel-rank .star-none::before {
    content: "";
    display: block;
    
    width: 18px;
    height: 17px;
}

/*Сеточные стили*/

section {
    outline: 2px solid red;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

.align-container {
    margin: 0 auto;
    width: 88%;
    
    /*Временно для сетки*/
    outline: 2px solid red;
}

/*Хедер*/

.main-header {
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    
    /*Временно для сетки*/
    height: 56px;
    outline: 2px solid blue;
}

.sedona-main-logo {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -68px;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

.main-navigation {
    margin: 0;
    padding: 0;
    
    /*Временно для сетки*/
    height: 56px;
    outline: 2px solid yellow;
}

.main-navigation .align-container {
    position: relative;
}

.list-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    
    /*Временно для сетки*/
    height: 56px;
    outline: 2px solid green;
}

.list-navigation li {
    width: 20%;
    padding-top: 16px;
    padding-bottom: 16px;
    
    /*Временно для сетки*/
    outline: 2px solid green;
}

.list-navigation li:nth-of-type(2) {
    margin-right: 20%;
}

.list-navigation li:first-of-type,
.list-navigation li:nth-of-type(2) {
    text-align: left;
}

.list-navigation li:last-of-type,
.list-navigation li:nth-of-type(3) {
    text-align: right;
}


/*Интро главной страницы*/

.introduction .background-container {
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.introduction .promo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 74px;
    min-height: 510px;
    
    /*Временно для сетки*/
    outline: 2px solid red;
}

.intro-wrapper {
    margin: 0;
    padding: 0;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

.introduction .intro-text-container {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 50px;
}

.introduction .paragraph {
    width: 490px;
    margin: 0 auto;
    padding: 0;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

/*Преимущества*/

.features-list {
    display: flex;
    flex-direction: column;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

.towns-advantages-list {
    display: flex;
    flex-direction: row;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

.usual-features-list {
    display: flex;
    flex-direction: row;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

.features-list li {
    min-height: 256px;
    
     /*Временно для сетки*/
    outline: 2px solid blue;
}

.special {
    position: relative;
    overflow: hidden;
    
     /*Временно для сетки*/
    outline: 2px solid blue;
}

.special-1 {
    padding-right: 66.66%;
}

.special-2 {
    padding-left: 66.66%;
}

.special img {
    position: absolute;
    
    width: 66.66%;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

.special-1 img {
    top: -81px;
    right: 0;
}

.special-2 img {
    top: -74px;
    left: 0;
}

.feature-container {
    width: 300px;
    margin: auto;
    margin-top: 45px;
    margin-bottom: 58px;
    
    text-align: center;
    vertical-align: middle;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

.towns-advantages .feature-container {
    margin-top: 60px;
    margin-bottom: 82px;
}

/*Подбор отеля*/

.choice-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    /*Временно для сетки*/
    outline: 2px solid red;
}

.choice-wrapper .choice {
    width: 100%;
    margin: 0;
    padding: 0;
}

.choice .choice-container {
    text-align: center;
}

.choice .choice-text-container {
    width: 100%;
    padding-top: 55px;
    padding-bottom: 50px;
}

.choice .paragraph {
    width: 450px;
    margin: 0 auto;
    padding: 0;
    
     /*Временно для сетки*/
    outline: 2px solid yellow;
}

/*Форма поиска отеля*/

.choice-wrapper .modal-search {
    position: absolute;
    top: 350px;
    left: 50%;
    z-index: 1;
    
    width: 568px;
    margin-left: -284px;
    padding: 0;
}

.modal-search .search {
    margin: 0;
    padding: 0;
}

.modal-search .search-content-wrapper {
    width: 100%;
    min-height: 396px;
    margin: 0;
    padding: 56px;
}

/*Футер и карта*/

.mapnfooter-wrapper {
    position: relative;
    overflow: hidden;
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    
    background-color: #e0e7ce;
    
    /*Временно для сетки*/
    height: 595px;
    outline: 2px solid red;
}

.map-container {
    margin-top: -155px;
    margin-left: -259px;
}

.main-footer {
    max-width: 1200px;
    margin: 0 auto;
    
    background-color: rgba(255, 255, 255, 0.9);
    
    /*Временно для сетки*/
    min-height: 121px;
    outline: 2px solid red;
}

.mapnfooter-wrapper .main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    margin: 0;
}

.main-footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 100%;
    
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.main-footer .footer-wrapper {
    flex-basis: 33%;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

.main-footer .footer-tag-container {
    width: 136px;
    margin: auto;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

.main-footer .footer-copyright-container {
    width: 150px;
    margin: auto;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

.main-footer .footer-social-container {
    width: 195px;
    margin: auto;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}

/*Страница отелей*/
/*Форма подбора отеля*/

.modal-filter {
    width: 100%;
    
    /*Временно для сетки*/
    outline: 2px solid red;
    min-height: 217px;
}

.modal-filter .filter-wrapper {
    display: flex;
    flex-direction: row;
    
    width: 100%;
}

.modal-filter .fieldset-wrapper {
    flex-basis: 241px;
    padding-top: 31px;
    padding-bottom: 31px;
    padding-left: 0;
    
    /*Временно для сетки*/
    outline: 2px solid yellow;
}


.filter-wrapper div:nth-child(3) {
    flex-basis: 350px;
    margin-left: auto;
}


/*Сортировка и список отелей*/

.results {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    
    /*Временно для сетки*/
    outline: 2px solid red;
}

.results .sorting {
    margin: 0;
    padding: 0;
    min-height: 86px;
    
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.sorting p {
    margin: 0;
    padding: 0;
}

.sorting .align-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 28px 0;
    
    min-height: 86px;
}

.sorting .h-sorting {
    margin-right: 40px;
}

.sorting .found {
    margin-right: 40px;
    width: 120px;
}

.sorting .sorting-settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 374px;
    padding: 0 10px;
}

.sorting-settings li:nth-last-of-type(2) {
    margin-left: auto;
}

.results .results-list {
    flex-basis: 455px;
    
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.results .hotels-list {
    display: flex;
    flex-direction: column;
    
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.hotels-list .hotel-position {
    display: flex;
    flex-direction: row;
    flex-basis: 152px;
    padding-top: 31px;
    padding-bottom: 31px;
    
    /*Временно для сетки*/
    outline: 2px solid blue;
}

.hotel-position img {
    margin-right: 30px;
}

.hotel-position .hotel-main-info {
    margin: 0;
    padding: 0;
}

.hotel-position .hotel-main-mark {
    margin-left: auto;
    padding: 0;
}

.hotel-main-info p:first-of-type {
    margin: 0;
    padding: 0;
}